body, html {
    font-family: 'Droid Serif';
    font-weight: 300;
}

.remark-slide-content, body, html {
    background: #3B4252;
    color: #E5E9F0;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    line-height: 1em;
}

h2 {
    margin: 0.5em 0;
}

.remark-code, .remark-inline-code { font-family: "Monaco", monospace; font-weight: 500; font-size: 16px}

h1::after {
    content: '';
    border: 0px solid #88C0D0;
    border-top-width: 4px;
    width: 10%;
    height: 0px;
    margin-top: 5px;
    display: block;
}

blockquote {
    padding: 5px 0 5px 30px;
    line-height: 1.7em;
    color: #E5E9F0;
    font-style: italic;
    border-left: 8px solid #88C0D0;
    margin: 1em 0 1em 0;
}

blockquote cite {
    margin-top: 1em;
    display: block;
    text-align: right;
    /*float: right;*/
}

blockquote p {
    margin: 0;
}

/*blockquote em {
    border-bottom: 2px solid #000;
    color: #000;
}
*/
.title-page h1::after {
    /*border: 0;*/
}

.title-page h1 {
    margin-top: 0;
}

.checklist {
    list-style: none;
    padding-left: 0;
}

.checklist li:before {
    content: "\2713";
    padding-right: 10px;
    color: #ccc;
}

.checklist li.green:before {
    color: #6eae27;
}

li strong {
    background: #FFF9C2;
}

.highlight {
    background: #FFF9C2;
}

svg {
    display: block;
    margin: 0 auto;
}


@media print {
    .remark-slide-container {
        height: 100% !important;
        width: 100% !important;
    }

    .remark-slide-scaler {
        height: 100% !important;
        width: 100% !important;
        background: red;
        margin: 0 auto !important;
        transform: scale(1) !important;
        left: auto !important;
        right: auto !important;
    }
}

h1 {
    color: #ECEFF4;
    margin-bottom: 10px;
    margin-top: 0;
}

h1 em {
    font-style: none !important;
    /*font-size: 2em;*/
}

.email {
    font-style: italic;
    color: #88C0D0;
}

iframe {
    display: block;
    margin: 0 auto;
}

a {
    color: #88C0D0;
}

ul {
    padding-left: 10px;
}

li {
    margin-bottom: 0.5em;
}

svg {
    stroke: #fff !important;
    fill: transparent !important;
}

p .remark-inline-code,
li .remark-inline-code
{
    color: #B48EAD;
}

* {
    /*outline: 1px solid red;*/
}

.remark-slide-content {
    font-size: 20px;
    padding: 2em 2em;
}

.grid-cols {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    height: 50vh;
}

.flex-center {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.flex-left {
    justify-content: flex-start;
}

/* --- */

button {
    border: 0;
    background-color: #0093FF;
    color: #fff;
    padding: 10px 20px;
}

button:hover {
    cursor: pointer;
    background-color: #9300FF;
}

button.transition {
    transition: background-color 1s;
}

@keyframes bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

button.bounce {
    animation: bounce 2s;
    animation-iteration-count: infinite;
}

button.anim-reverse {
    animation-direction: reverse;
}

/* ---- */

.hljs {
    background: none !important;
    padding: 0 !important;
}

.hljs-comment {
    font-style: italic;
    color: #959BA6 !important;
}

.remark-code {
    font-size: 16px;
}

::selection {
    color: #fff;
    background: #81A1C1;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}